@charset "utf-8";
/* CSS Document */


*{
    margin:0;
	padding:0;
	font-family:"微软雅黑";	
	}
a{
	text-decoration:none;
	 }
li{
	list-style:none;
	 }
img:hover{
	      opacity:0.6;
		  cursor:pointer;
	      }	 
.img1{
	   height:37px;
	   width:320px;
	   background:#fff;
	   margin:0 auto;
	   position:relative;
	   z-index:100;
	   }
.three{
	   height:150px;
	   width:540px;
	   margin:0 auto;
	   overflow:hidden;
	    }
.three img{
	       margin-top:-90px;
		   margin-left:33px;
		  
		    }	
					 	
.top{
	 height:77px;
	 width:100%;
	
	 background:rgb(277,1,2);
	 }
.top-1{
	    height:77px;
		width:1200px;
		margin:0 auto;
		background:rgb(277,1,2);
		position:relative;
	    z-index:100;
	    }	 
.logo{
	  height:77px;
	  width:150px;
	  margin-left:140px;
	  float:left;
	   }
.logo img{
	       height:77px;
	       width:120px;
		   cursor:pointer;
	       }
.top-1 .nav-top{
	  height:77px;
	  width:680px;
	  float:left;
	
	  }
.top-1 .nav-top li{
	         height:52px;
			 width:102px;
			 float:left;
			 color:#fff;
			 padding-top:25px;
			 text-align:center;
			 vertical-align:middle;
			 margin-right:40px;
			 cursor:pointer;
			 position:relative;
			 
	         }
.top-1 .nav-top li .xiala1{
	width:103px;
	height:250px;
	background:#bc0000;
	position:absolute;
	z-index:9999;
	top:75px;
	left:0;
	display:none;	
	}
.top-1 .nav-top li .xiala1 ul{
	width:100%;
	height:100%;
	padding:0;
	}	
.top-1 .nav-top li .xiala1 ul li{
	width:100%;
	height:20%;
	float:left;
	margin-left:0px;
	padding:0;
	border:1px solid #FFF;
	box-sizing:border-box;
	text-align:center;
	}
.xiala1 ul #li2 .xiala2{
	                    width:130px;
						height:250px;
						background:#bc0000;
						position:absolute;
						z-index:9999;
						top:50px;
						left:130px;
						display:none;
	                     }

.xiala1 ul #li2 .xiala2 ul{
	                    width:100%;
						height:100%;
						padding:0;
	      
	                     }

.xiala1 ul #li2 .xiala2 ul li{
	                        width:100%;
							height:20%;
							float:left;
							margin-left:0px;
							padding:0;
							border:1px solid #FFF;
							box-sizing:border-box;
							text-align:center;
	                       }













			 
.top-1 ul li:first-child{
	                      margin-left:90px;
						  background:rgb(188,0,0)
	                     }	
.p1{
	 font-size:16px;
	 }	
.p2{
	 font-size:8px;
	 }	
.caipin{
	    width:62.5%;
		height:203px;
		margin:0 auto;
		border:1px solid red;
	    }
.zhanshi{
	       height:203px;
		   width:200px;
		   margin:0 auto;
		   background:url(../image/15.png);
		   overflow:auto;
	      }
.zhanshi .p1{
	         font-size:26px;
			 color:#333;
			 height:28px;
			 width:100%;
			 padding-top:40px;
			 text-align:center;
			 
	          }	
.zhanshi .p2{
	          font-size:21px;
			   color:#999;
			   height:30px;
			   width:100%;
 			   text-align:center;
	           }			     	    					 		 	  		   	   	 	
.caipin ul{
		     height:38px;
			 width:435px;
			 margin:0 auto;
			 margin-top:-80px;		   
		    }
.caipin ul li{
	           height:38px;
			   width:47px;
			   float:left;
			   margin-left:35px;
			   font-size:18px;
			   color:#333;
			   text-align:center;
			   line-height:38px;
			   cursor:pointer;
	           }
.caipin ul li:hover{
	                 color:red;
	                  }			   
.caipin ul li:nth-of-type(1){
	                         border-bottom:1px solid red;
							 color:red;
	                         }
.rou{
	 height:1000px;
	 width:62.5%;
	 margin:0 auto;
	 border:1px solid red;
	 margin-top:40px;
	 }							 
.rou-first{
	       height:300px;
		   width:100%;
		   float:left;
	       }							 
.rou-first .img2{
	              height:100%;
				  width:50%;
				  float:left;
				  overflow:hidden;
	              }							 
.rou-first .img2 img{
	                  margin-top:-130px;
					  margin-left:-30px;
	                  }							 
.rou-first .img3{
	              height:100%;
				  width:26.25%;
				  float:left;
				  background:rgb(227,1,2);
				  color:#fff;
	              }							 			   
.rou-first .img3 h3{
	                padding-top:48px;
					padding-left:30px;
					font-weight:100;
	                }
.rou-first .img3 p{
	                padding:28px;
					letter-spacing:2px;
					font-size:12px;
					line-height:20px;
	                }
.rou-first .img4{
	              height:100%;
				  width:23.75%;
				  float:left;
				  overflow:hidden;
	             }	
.rou-first .img4 img{
	                 margin-top:;
					 margin-left:-60px;
	                  }				 													   			.rou-second{
			 height:200px;
			 width:100%;
			 float:left;			  
			 } 
.wenzi1	{
	     height:100%;
		 width:27.9%;
		 float:left;
	       }
.wenzi1 h5{
	        padding-top:50px;
			padding-left:40px;
			font-size:18px;
			font-weight:normal;
	       }
.wenzi1 p{
	       padding-top:15px;
			padding-left:40px;
			padding-right:45px;
			font-size:12px;
			color:#666;
			line-height:20px;
	       }
.img5{
	  height:100%;
	  width:22.1%;
	  float:left;
	  background:rgb(244,244,244);
	  overflow:hidden;
	  }	
.img5 img{
	       margin-left:40px;
	      }	 
.img6{
	  height:100%;
	  width:26.25%;
	  float:left;
	  overflow:hidden;
	  }	
.img6 img{
	      margin-left:-120px;
		  margin-top:-80px;
	       }
.img7{
	  height:100%;
	  width:23.75%;
	  float:left;
	  overflow:hidden;
	  }	
.img7 img{
	      margin-left:-22px;
		  margin-top:-35px
	       }
.rou-third{
	       height:500px;
		   width:100%;
		   float:left;
	        }	
.rou-third .img8{
	              height:100%;
				  width:50%;
				  float:left;
	             }
.img9{
	  height:50%;
	  width:100%;
	  float:left;
	  overflow:hidden;
	  }
.img9 img{
	       margin-top:-20px;
	       }
.img10{
	   height:50%;
	   width:55.8333%;
	   float:left;
	   overflow:hidden;
	   }		   	  				 				   		   	  	   	   		   		   		.img10 img{
		    margin-top:-50px;
		    } 
.img11{
	   height:50%;
	   width:44.1666%;
	   float:left;
	   overflow:hidden;
	   }		   	  				 				   		   	  	   	   		   		   		.img11 img{
		    margin-top:-130px;
			margin-left:-50px;
		    } 
.wenzi2{
	    height:100%;
		width:50%;
		float:left;
		background:rgb(226,2,2);
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		color:#fff;
	    }
.wenzi2 h4{
	        font-size:12px; 
			font-weight:100;
	       }
.wenzi2 .p3{
	        font-size:22px;
			font-weight:100;
			margin-top:8px;
	        }
.wenzi2 .p4{
	        font-size:18px;
			font-weight:100;
			opacity:0.8;
			margin-top:-5px;
	         }
.wenzi2 button{
	            border:none;
				background:none;
				color:#fff;
				outline:none;
				cursor:pointer;
				margin-top:10px;
	            }	
.middle{
	    height:1150px;
		width:62.5%;
		margin:0 auto;
		background:rgb(244,244,244)
	     }	
.guanyu{
	    height:85px;
		width:100%;
		float:left;
		margin-top:30px;
		position:relative;
	    }
.xian{
	   height:2px;
	   width:273px;
	   background:red;
	   margin:0 auto;
	   margin-top:42px; 
	   z-index:1
	    }
.wenzi3{
	    height:55px;
		width:168px;
		position:absolute;
		left:510px;
		top:25px;
		z-index:100;
		background:rgb(244,244,244);
		text-align:center;
	    }
.wenzi3 .p5{
	        font-size:24px;
			color:#222;
			font-weight:100;
	        }
.wenzi3 .p6{
	         font-size:22px;
			 color:#777;
			 font-weight:100;
	        }	
.panzi{
	    height:490px;
		width:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	    }			
.panzi ul{
	    display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		width:683px;
	       }			
.niupai{
	    height:450px;
		width:680px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		margin:0 auto;
	    }		
.niupai-1{
	      height:400px;
		  width:335px;
		  overflow:hidden;
	      }	
.niupai-1 .img12 {
	               height:200px;
				   width:335px;
				   overflow:hidden;
	               }		  
.niupai-1 .img12 img{
	          margin-left:-120px;
			  margin-top:-55px;
	          }	
.niupai-1 p{
	         font-size:12px;
			 color:#666;
			 line-height:20px;
			 letter-spacing:1px;
			 margin-top:15px;
	         }	
.niupai-1 button{
	             height:37px;
				 width:194px;
                 border:1px solid #ccc;
				 border-radius:3px;
				 outline:none;
				 background:#fff;
				 text-align:center;
				 cursor:pointer;
				 margin-left:60px;
				 margin-top:20px;
	             }	
.bottom{
	    height:147px;
		width:100%;
		background:#ccc;
		overflow:hidden;
		position:relative;
	     }
.bottom img{
	        margin-top:-620px;
			z-index:1;
	        }
.xian1{
	    height:1px;
		width:153px;
		background:#fff;
		position:absolute;
		top:80px;
		left:690px;
		z-index:10;
				 }
.xian2{
	    height:1px;
		width:153px;
		background:#fff;
		position:absolute;
		z-index:10;
		top:80px;
		left:1072px;
				 }				 	
.wenzi4{
	     height:45px;
		 width:228px;
		 position:absolute;
		 top:60px;
		 left:875px;
		 z-index:10;
		 color:#fff;
		 opacity:0.9;
		 font-weight:100;
	     }	
.banquan{
	     height:100px;
		 width:100%;
		 background:rgb(19,19,21);
		 color:#fff;
	       }
.banquan-1{
	     height:100px;
		 width:62.5%;
		 margin:0 auto;
		 background:rgb(19,19,21);
		 color:#fff;
		 
	        }		   
.banquan-1 .list{
	            height:100px;
	            width:50%;
	            color:#fff;
	            float:left;
	    }
				   
.list ul{
	         height:40px;
			 width:350px;
			 margin:0 auto;
			 margin-top:35px;
	          }	
.list ul li{
	        height:38px;
			width:80px;
			float:left;
			opacity:0.5;
		    }			  	   		 			 		 	 				 		 		.banquan-1 .list-1{
	            height:100px;
	            width:50%;
	            color:#fff;
	            float:left;
	    }
.banquan-1 .list-1 p{
	                  width:270px;
					  margin:0 auto;
					  margin-top:35px;
					  opacity:0.5;
	                 }
.share{
		width:100px;
		position:fixed;
		left:-100px;
		top:100px;
		cursor:pointer;
		}
.share span{
		width:28px;
		height:43px;
		position:absolute;
		margin-left:100px;
		background:#FCF;
		border-radius:10%;
		text-align:center;
		}
.share ul li{
		background-color:#FFF;
		border:1px solid #CCC;
		height:30px;
		text-align:center;
		line-height:30px;
		}		 	  								
.share ul li:hover{
	               background-color:#69C
	               }
.img13{
	   position:fixed;
	   top:200px;
	   left:0px;
	  }				   
.img14{
	   position:fixed;
	   top:200px;
	   right:0px;
	  }					   
				   
				   
				   